.chatFL-main-list{
    width: 95%;
    height: 749px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px; /* chiều rộng của thanh cuộn */
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #999; /* màu nền của nút bấm thanh cuộn */
    border-radius: 5px;
}

