.chat-menu {
    position: absolute;
    width: 100%;
    height: 669px;
    left: 0px;
    top: 300px;
}

.chat-menu__option {
    box-sizing: border-box;
    width: 100%;
    height: 80px;

    border-top: 1px solid #CCCCCC;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    padding-left: 20%;
}

.chat-menu__option:hover {
    background-color: #dee8fd;
    color: #3281ff;
}

.chat-menu__option > i {
    margin-right: 5%;
}

.color {
    background-color: #dee8fd;
    color: #3281ff;
}